.banner {
  background-image: url(../img/banner.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 660px;
  display: flex;
  div {
    display: grid;
    align-items: center;
    justify-self: center;
    margin: auto;
    h1 {
      font-family: $Freehand, sans-serif;
      color: $red;
      font-size: 7em;
      line-height: 0.9;
      display: inline-block;
      align-self: center;
      //padding-left: 50px;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    height: 460px;
  }
}

@media (max-width: 425px) {
  .banner {
    height: 460px;
    background-image: url(../img/banner-mobile.png);
    div {
      h1 {
        font-size: 5em;
      }
    }
  }
}
