footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  background: $red;
  color: white;
  h3{
    display: none;
  }
}

.phone-numbers__footer {
  display: grid;
  align-self: center;
  a {
    display: block;
    color: white;
  }
  // display: none;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  padding-left: 30px;
  address {
    display: flex;
    align-items: center;
  }
}
.sign {
  font-family: Consolas, monospace;
  align-self: flex-end;
}

@media (max-width: 768px) {
  footer {
    font-size: 0.7em ;
    h3{
      display: block;
    }
  }
  .contacts-wrapper {
    flex-direction: column;
    justify-content: center;
    min-width: unset;
    padding-left: 15px;
    align-items: flex-start;
  }
  .phone-numbers__footer {
    align-self: flex-start;
  }
}
