header {
  height: 110px;
  background-color: $red;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 200px;
  }
  .logo-mobile {
    height: 200px;
    display: none;
  }
  .menu-toggle {
    display: none;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
    }
    li {
      list-style: none;
    }
  }
}

.phone-cart-wrapper {
  justify-self: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-numbers {
  display: grid;
  align-self: center;
  a {
    display: block;
    color: white;
  }
  // display: none;
}
.phone-numbers-mobile-wrapper {
  display: none;
}

@media (max-width: 768px) {
  header {
    font-size: 0.7em;
    height: 50px;
    .phone-numbers {
      display: none;
    }
    .cart-icon {
      height: 50px;
    }
    .logo-mobile {
      display: block;
      height: 65px;
    }
    .menu-toggle {
      display: flex;
      &::after {
        display: block;
        content: '';
        height: 40px;
        width: 1px;
        margin-left: 3px;
        background-color: white;
      }
    }
    .menu-icon {
      display: block;
      height: 45px;
      padding-left: 3px;
    }
    .cart-anchor {
      display: flex;
      &::before {
        display: block;
        content: '';
        height: 40px;
        width: 1px;
        margin-right: 3px;
        margin-left: 3px;
        background-color: white;
      }
    }
    .cart-icon {
      height: 45px;
      padding-right: 3px;
    }
  }

  .logo {
    display: none;
  }

  nav {
    display: none;
  }
  .phone-numbers-mobile-wrapper {
    display: grid;
    align-content: center;
    .phone-numbers-mobile {
      display: grid;
      align-self: center;
      grid-template-columns: 90px 30px;
      grid-template-areas: '. arrow';
      justify-items: center;
      gap: 3px;
      a {
        display: block;
        color: white;
      }
      img {
        grid-area: arrow;
      }
      .phone-secondary {
        display: none;
      }
      .phone-secondary.open {
        display: block;
      }
    }
    .phone-dropdown-icon {
      width: 30px;
    }
  }
}
