header {
  height: 110px;
  background-color: $red;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 200px;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
    }
    li {
      list-style: none;
    }
  }
}

.phone-cart-wrapper {
  justify-self: right;
  display: flex;
  justify-content: space-between;
}

.phone-numbers {
  display: grid;
  align-self: center;
  a {
    display: block;
    color: white;
  }
  // display: none;
}
.phone-numbers-mobile-wrapper {
  display: none;
}

@media (max-width: 768px) {
  .phone-numbers {
    display: none;
  }
  nav {
    display: none;
  }
  .phone-numbers-mobile-wrapper {
    display: block;
    .phone-numbers-mobile {
      //display: none;
      display: grid;
      align-self: center;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'number arrow';
      a {
        grid-area: number;
        display: block;
        color: white;
      }
      img {
        grid-area: arrow;
      }
    }

    .phone-secondary {
      display: none;
    }
    .phone-secondary.open {
      display: block;
    }
  }
}
