@import '_config.scss';
@import 'custom.scss';
@import 'header.scss';
@import 'product-card';
@import 'footer';
@import 'fonts';
@import 'cart';
@import 'banner';

.main-container {
  margin: auto;
}
.background-wrapper {
  background-image: url(../img/main-background.png);
}
.large-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.small-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-columns: repeat(5, 1fr);
  gap: 5px;
  margin-top: 15px;
}

@media (max-width: 1070px) {
  .small-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .small-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //grid-auto-columns: repeat(auto-fit, 1fr);
  }
}
