@import '_config.scss';
@import 'custom.scss';
@import 'header.scss';
@import 'product-card';
@import 'footer';
@import 'fonts';
@import 'cart';
@import 'banner';
@import 'menu';

.main-container {
  margin: auto;
}
.background-wrapper {
  background-image: url(../img/main-background.png);
  background-size: cover;
}
.large-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 30px 0;
}

.small-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 30px 0;
}

@media (max-width: 1070px) {
  .small-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .large-cards-wrapper {
    display: none;
  }
  .small-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
