.product-card-large {
  display: inline-block;
  max-width: 30vw;
  display: grid;
  margin: 10px auto;
  grid-auto-flow: row;
  background-color: #fff;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.27);
  img {
    width: 95%;
    height: auto;
    justify-self: center;
  }
  h2 {
    text-align: center;
    color: #bf0000;
    font-family: Freehand, sans-serif;
    font-size: 3em;
    line-height: 1;
  }
  .price-quantity-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      font-size: 1.5rem;
    }
    input[value] {
      font-size: 2rem;
      color: $red;
    }
    input {
      border: none;
      margin: 0 10px;
      background-color: white;
    }
  }
}

.product-card-small {
  //height: 375px;
  //width: 16vw;
  display: grid;
  //margin: 10px auto;
  grid-auto-flow: row;
  background-color: #fff;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.27);
  img {
    width: 95%;
    height: auto;
    justify-self: center;
  }
  h2 {
    text-align: center;
    color: #bf0000;
    font-family: Freehand, sans-serif;
    font-size: 2.5em;
  }
  .price-quantity-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      font-size: 1.5em;
    }
    input[value] {
      font-size: 2em;
      color: $red;
    }
    input {
      border: none;
      padding: 10px;
      background-color: white;
    }
  }
}
